<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Multiple files upload</title>
    </head>
    <body>
        <div align="center">
            <h1>Upload multiple files</h1>
        </div>

        <div align="center">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <table>
                    <tr><td>Files to upload: </td><td><input type="file" name="files" multiple></td></tr>
                    <tr><td></td><td><input type="submit" value="Submit"></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>
